@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --white: #ffffff;
  --very-very-light-blue: #f5f8ff;
  --very-light-blue: #b8c8e2;
  --light-blue: #91b4ff;
  --dark-blue: #6899ff;
  --very-light-grey: #e2e2e2;
  --light-grey: #999999;
  --grey: #666666;
  --yellow: #ffd230;
}

body {
  color: var(--grey);
}

.container {
  display: flex;
  flex-direction: column;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 8.2vw;
  gap: 20px;
  background-color: var(--white);
}

.search-container {
  display: flex;
  height: 40px;
  gap: 10px;
}

form {
  flex: 1;
}

input {
  background-image: url(./icons/magnifying-glass-solid.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 14px;
  width: 100%;
  height: 40px;
  padding: 0 2% 0 13%;
  border: 2px solid var(--very-light-blue);
  border-radius: 50px;
}

input::placeholder {
  color: var(--very-light-blue);
}

input:focus {
  outline: 2px solid var(--yellow);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(./icons/xmark-solid.svg);
  background-repeat: no-repeat;
}

#my-location {
  width: 40px;
  background-color: var(--light-blue);
  border: none;
  border-radius: 50px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

#my-location:hover {
  background-color: var(--dark-blue);
}

.fa-location-crosshairs {
  color: var(--white);
}

.today-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 20px;
  border-radius: 22px;
  aspect-ratio: 1/2;
  color: var(--white);
  background-color: var(--light-blue);
  background: linear-gradient(
    169.28deg,
    var(--light-blue) 1.56%,
    var(--dark-blue) 96.57%
  );
  box-shadow: rgb(222 222 222 / 20%) 0px 8px 24px;
}

.today-weather > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#main-icon {
  max-width: 60%;
}

#temp {
  font-size: 3em;
  font-weight: 700;
}

#desc {
  font-size: 1.6em;
  font-weight: 500;
}

.city-container {
  display: flex;
  align-items: center;
}

.fa-location-dot {
  font-size: 20px;
  margin-right: 5px;
}

#city-name {
  font-size: 1.5em;
  font-weight: 500;
}

.right-side {
  background-color: var(--very-very-light-blue);
  padding: 8.2vw;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}

.forecast-top-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c-f {
  display: flex;
  justify-content: flex-end;
}

#button-C,
#button-F {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 50px;
  font-weight: 600;
  opacity: 0.5;
  box-shadow: rgb(222 222 222 / 20%) 0px 8px 24px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

#button-F {
  margin-left: 8px;
}

.active {
  background-color: var(--light-blue) !important;
  color: var(--white) !important;
  opacity: 1 !important;
  border: 1px solid var(--light-blue) !important;
}

.active:hover {
  background-color: var(--dark-blue) !important;
  border: 1px solid var(--dark-blue) !important;
}

.days-forecast {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5vw;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.days-forecast > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  border-radius: 22px;
  background-color: var(--white);
  box-shadow: rgb(222 222 222 / 20%) 0px 8px 24px;
}

.days-forecast > div > div:last-child {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.day-name,
.temp-min {
  font-weight: 500;
}

.small-icon {
  max-width: 80%;
  margin: 15px 0;
}

.temp-max {
  color: var(--light-grey);
}

.highlights-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1.4fr) repeat(2, 1fr);
  gap: 30px;
  flex: 1;
}

.highlights-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  gap: 20px;
  border-radius: 22px;
  background-color: var(--white);
  box-shadow: rgb(222 222 222 / 20%) 0px 8px 24px;
}

.highlights-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 30px;
  border-radius: 22px;
  background-color: var(--white);
  box-shadow: rgb(222 222 222 / 20%) 0px 8px 24px;
}

.highlights-title {
  font-weight: 500;
  color: var(--light-grey);
}

.highlights-bottom > div:last-child {
  margin: auto;
}

.fa-stack {
  font-size: 0.8em;
}

.fa-circle {
  color: var(--light-blue);
}

.fa-location-arrow {
  color: var(--white);
}

.slider-wrapper {
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: var(--very-light-grey);
}

#slider-inner {
  position: absolute;
  height: 10px;
  border-radius: 50px;
  background-color: var(--yellow);
}

.percentages {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.percentages span {
  font-size: 0.7em;
  color: var(--light-grey);
}

.value {
  font-weight: 600;
  font-size: 1.4em;
}

@media (max-width: 375px) {
  .right-side {
    padding: 5vw;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }

  .left-side {
    width: 25vw;
    padding: 2vw;
  }

  .today-weather {
    height: 100vh;
  }

  .right-side {
    width: 75vw;
    padding: 2vw 7vw;
  }

  .days-forecast {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
  }

  .highlights-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.4fr 1fr;
    flex: 1;
  }

  .highlights-top {
    padding: 10px 30px;
    gap: 0;
  }
}

@media (min-width: 1023px) and (max-width: 1439px) {
  .forecast-top-container {
    gap: 10px;
  }

  #city-name {
    font-size: 1em;
  }
}
