@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
}

.left-side {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8.2vw;
  gap: 20px;
}

#city-search {
  background-image: url(./magnifying-glass-solid.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  width: 100%;
  border: none;
  background-color: #f5f8ff;
}

/* form {
  display: flex;
  height: 35px;
} */
.search-wrapper {
  display: flex;
}
.right-side {
  background-color: #f5f8ff;
  padding: 8.2vw;
}

.today-weather {
  background-color: #91b4ff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#main-icon {
  max-width: 90%;
}

.c-f {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.days-forecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex: 0.4;
  gap: 30px;
  margin-bottom: 30px;
}

.days-forecast > div {
  background-color: #ffffff;
  /* border: 1px solid black; */
  /* width: 120px;
  height: 140px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.forecast-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.small-icon {
  max-width: 80%;
  margin: 10px 0;
}

.lol {
  background-color: #ffffff;
  /* border: 1px solid black; */
  /* height: 204px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.lol-1 {
  background-color: #ffffff;
  /* border: 1px solid black; */
  /* height: 204px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.number {
  margin: auto;
}

.highlights-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 1.3fr 1fr 1fr;
  flex: 1;
  gap: 30px;
}
.slider {
  position: relative;
  height: 8px;
  background-color: aqua;
  width: 100%;
}
.temp-min {
  margin-right: 10px;
}
#slider-inner {
  position: absolute;
  height: 8px;
  /* width: 50%; */
  background-color: rgb(108, 37, 249);
}
@media (min-width: 767px) {
  .container {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }

  .left-side {
    width: 30vw;
    padding: 3.2vw;
  }

  .right-side {
    width: 70vw;
    padding: 3.2vw 7vw;
  }

  .days-forecast div {
    flex: 1;
    aspect-ratio: 1/1.4;
  }

  .highlights-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 1fr;
    flex: 1;
  }
  .days-forecast {
    /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

#button-F {
  margin-left: 10px;
}
